@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
  --YKGG-MAIN: #000015;
  --YKGG-PRIM: #efeeee;
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}
body {
  font-family: 'VT323', sans-serif;
  color: var(--bs-light);
}
.bg-body-yk {
  background-color: var(--YKGG-MAIN) !important;
  /*background: 
  linear-gradient(to right,red, orange, yellow,lime,green,cyan,blue,indigo,purple,pink,red)
  ;
  background-size: 200%;
  animation: background-pan 10s linear infinite;*/
}
.cnt-yk {
  background-color: transparent;
  border: 1px solid var(--YKGG-PRIM);
}
.card-YK {
  border: 1px solid var(--YKGG-PRIM) !important;
  border-radius: 0px;
  background-color: transparent !important;
  color: var(--YKGG-PRIM) !important;
  max-width: 28rem;
}
.fw-italic {
  font-weight: italic;
}
.fw-black {
  font-weight: black;
}
.ln-dash {
  border: 1px dashed var(--YKGG-PRIM);
  padding-top: 0vh;
  padding-bottom: 0vh;
  margin-bottom: 0.75rem;
  margin-top: 0vh;
}
.ft-cyan {
  color: #23C1FF;
}
.cnt-cryk {
  border-top: 1px solid var(--YKGG-PRIM);
  border-bottom: 1px solid var(--YKGG-PRIM);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  max-height: 64rem;
  overflow-y: scroll;
}
.cnt-cryk p {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.ft-ngnl {
  color: var(--YKGG-PRIM);
  text-align: center;
}
.ft-ngnl:before {
  content: "「 ";
}
.ft-ngnl:after {
  content: " 」";
}
.fadein-yk {
  opacity: 0;
  animation: fadein 1s forwards;
}
.fadein-yk h2 {
  animation-delay: 0.2s;
}
.fadein-yk p {
  animation-delay: 0.6s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.table {
  color: var(--YKGG-PRIM) !important;
}
/*.thm-txt {
  background: linear-gradient(to right,#ffffde,#deffff,#ffffde);
  color: var(--YKGG-MAIN);
  white-space: nowrap;
  webkit-background-clip: text;
  webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: background-pan 3s linear infinite;
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}*/
.btn-YK {
  background-color: transparent;
  color: var(--YKGG-PRIM);
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 0;
}
.btn-YK:hover {
  border-color: var(--YKGG-PRIM);
  color: var(--YKGG-PRIM);
  background-color: transparent;
}
.btn-YK:active {
  background-color: var(--YKGG-PRIM);
  color: var(--YKGG-MAIN);
}
.btn-cycy {
  clip-path: polygon(calc(100% - 8px) 0px, 100% 8px, 100% 100%, 8px 100%, 0px calc(100% - 8px), 0px 0px);
  border: 1px solid var(--YKGG-PRIM);
  background-color: var(--YKGG-PRIM);
}

.btn-cycy div {
  clip-path: polygon(calc(100% - 8px) 0px, 100% 8px, 100% 100%, 8px 100%, 0px calc(100% - 8px), 0px 0px); 
  background-color: var(--YKGG-MAIN);
  padding-left: 0.75rem;
}

.btn-cycy div a {
  text-decoration: none;
  color: var(--YKGG-PRIM);
  width: 100%;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn-cycy div:hover a {
  color: var(--YKGG-MAIN);
  background-color: var(--YKGG-PRIM);
}
.btn-cycy div a:hover {
  color: var(--YKGG-MAIN);
  background-color: var(--YKGG-PRIM);
}
.btn-cnt-YK {
  border: 1px solid var(--YKGG-PRIM);
  color: var(--YKGG-PRIM);
  font-weight: normal;
  background-color: transparent;
  width: 100% !important;
  border-radius: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-cnt-YK:hover {
  border: 1px solid var(--YKGG-PRIM);
  color: var(--YKGG-MAIN);
  font-weight: normal;
  background-color: var(--YKGG-PRIM);
  border-radius: 0;
}
.list-group-YK li {
  background-color: transparent;
  color: var(--YKGG-PRIM);
  border: 1px dashed var(--YKGG-PRIM);
}
.btn-coll-YK {
  background-color: transparent;
  border: 1px solid var(--YKGG-PRIM);
  color: var(--YKGG-PRIM);
  padding-bottom: 0.25rem;
  padding-top: 0.3rem;
  margin-bottom: 0.25rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-coll-YK:active {
  border: 1px solid var(--YKGG-PRIM);
  color: var(--YKGG-MAIN);
  border-radius: 0px;
  margin-bottom: 0.25rem;
}
.btn-coll-YK:hover {
  border: 1px solid var(--YKGG-PRIM);
  color: var(--YKGG-MAIN);
  background-color: var(--YKGG-PRIM);
  margin-bottom: 0.25rem;
  cursor: pointer;
}
.table-YK {
  color: var(--YKGG-PRIM);
}
.table-YK tr {
  border: 1px solid var(--YKGG-PRIM);
}
.card {
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeInDown 1s ease forwards;
}
.coll-YK-scroll {
  max-height: 32rem;
  overflow-y: scroll;
}
.yk-men {
  font-weight: thin;
  color: cyan;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-img-overlay {
  max-height: 6rem;
}
img {
  max-width: 100%;
}