@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* Generated pallete from: https://coolors.co/f7f7ff-4d8b31-dde8b9-181617-ff8427 */
:root {
  --YKCL-01: rgb(247, 247, 255); /* White #f7f7ff */
  --YKCL-02: rgb(77, 139, 49); /*Dark Green #4d8b31 */
  --YKCL-03: rgb(221, 232, 185); /*Light Green #dde8b9 */
  --YKCL-04: rgb(24, 22, 23); /* Black 1 #181617 */
  --YKCL-05: rgb(45, 43, 44); /*Black 2 #131117 */
  --YKCL-06: rgb(255, 132, 39); /* Digital Fox orange #ff8427 */
}
/* Elements */
body {
  font-family: "Cabin", sans-serif;
  color: var(--bs-light);
}
img,
svg {
  max-width: 100%;
}

/* Classes */
.body-yk {
  background-color: var(--YKCL-06);
  color: var(--YKCL-01);
  font-family: "Cabin", Sans-Serif;
  /*background-image: url("IMG/IMG_WEBBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;*/
}
.ft-raleway {
  font-family: "Raleway", Sans-Serif;
  font-weight: bold;
}
.ft-montserrat {
  font-family: "Montserrat", Sans-Serif;
  font-weight: bold;
}
.jumbotron-yk {
  background-image: url("IMG/IMG_WEBBG.png");
  border-bottom: 2px solid var(--YKCL-03);
  color: var(--YKCL-01);
}
.nav-yk {
  background-color: var(--YKCL-02);
  color: var(--YKCL-01) !important;
  font-family: "Montserrat", Sans-Serif !important;
}
.footer-yk {
  background-color: var(--YKCL-02);
  color: var(--YKCL-01);
  font-family: "Montserrat", Sans-Serif;
  border-top: 2px solid var(--YKCL-03);
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.cnt1-yk {
  background-color: var(--YKCL-04);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cnt2-yk {
  background-color: var(--YKCL-05);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card-yk {
  background-color: var(--YKCL-02);
  color: var(--ykcl-04);
  margin-bottom: 1rem;
  /*box-shadow: 0 0 0.25rem var(--YKCL-02), 0 0 0.25rem var(--YKCL-02), 0 0 0.25rem var(--YKCL-02), 0 0 0.25rem var(--YKCL-02), 0 0 0.25rem var(--YKCL-02), 0 0 0.25rem var(--YKCL-02);*/
}
.ft-cardyk {
  font-family: "Raleway", Sans-Serif;
  font-weight: bold;
  border-bottom: 2px solid var(--YKCL-01);
}
.mhyk-1 {
  min-height: 2rem;
}
.mhyk-2 {
  max-height: 12rem;
}
.bgpl-itp {
  background-image: url("IMG/BG_ITP.jpg");
  background-size: cover;
  background-position: center;
}
.bgpl-natp {
  background-image: url("IMG/BG_natp.jpg");
  background-size: cover;
  background-position: center;
}
.bgpl-ervp {
  background-image: url("IMG/BG_ERVP.jpg");
  background-size: cover;
  background-position: center;
}
.bgpl-sarr {
  background-image: url("IMG/BG_SARR.jpg");
  background-size: cover;
  background-position: center;
}
.bgpl-ywp {
  background-image: url("IMG/BG_YWP.jpg");
  background-size: cover;
  background-position: center;
}
.bgpl-misc {
  background-image: url("IMG/BG_MISC.jpg");
  background-size: cover;
  background-position: center;
}
.tit-yk {
  border-top: 2px solid var(--YKCL-01);
  border-bottom: 2px solid var(--YKCL-01);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Raleway", Sans-Serif;
  font-weight: bold;
  /*background-color: rgba(24,22,23,.60);*/
  background-image: linear-gradient(to right, transparent, rgba(24, 22, 23, 0.6), rgba(24, 22, 23, 0.6), rgba(24, 22, 23, 0.6), transparent);
}
.bgnt-yk {
  background-image: url("IMG/svg_yk.svg");
  background-position: center;
  background-size: cover;
}
.bgnt-br {
  background-image: url("IMG/svg_br.svg");
  background-position: center;
  background-size: cover;
}
.bgnt-cv {
  background-image: url("IMG/svg_cv.svg");
  background-position: center;
  background-size: cover;
}
.bgnt-fn {
  background-image: url("IMG/svg_fn.svg");
  background-position: center;
  background-size: cover;
}
.titoc-yk {
  background-image: linear-gradient(to bottom, transparent, transparent, rgba(24, 22, 23, 0.25));
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 8rem;
}
.bgoc-1 {
  background-image: url("IMG/IMG_OC1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left left;
}
.bgoc-2 {
  background-image: url("IMG/IMG_OC2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left left;
}
.bgoc-3 {
  background-image: url("IMG/IMG_OC3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left left;
}
@media (min-width: 600px) {
  .titoc-yk {
    background-image: linear-gradient(to right, var(--YKCL-02), transparent, rgba(24, 22, 23, 0.25)) !important;
    padding-top: 16rem;
  }
  .bgoc-1 {
    min-height: 630px;
  }
  .bgoc-2 {
    min-height: 630px;
  }
  .bgoc-3 {
    min-height: 630px;
  }
}
.bg-dark-yk {
  background-color: rgba(0, 0, 0, 0.5);
}