@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --YKGG-MAIN: #000015;
  --YKGG-PRIM: #efeeee;
}
body {
  font-family: "VT323", monospace;
  color: var(--bs-light);
}
.bg-body-yk {
  background-color: var(--YKGG-MAIN) !important;
}
.card-YK {
  border: 1px solid var(--YKGG-PRIM) !important;
  border-radius: 0px;
  background-color: transparent !important;
  color: var(--YKGG-PRIM) !important;
  max-width: 32rem;
}
.btn-YK {
  background-color: transparent;
  color: var(--YKGG-PRIM);
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 0;
}
.btn-YK:hover {
  border-color: var(--YKGG-PRIM);
  color: var(--YKGG-PRIM);
  background-color: transparent;
}
.btn-YK:active {
  background-color: var(--YKGG-PRIM);
  color: var(--YKGG-MAIN);
}
.btn-cnt-YK {
  border: 1px solid var(--YKGG-PRIM);
  color: var(--YKGG-PRIM);
  font-weight: normal;
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-cnt-YK:hover {
  border: 1px solid var(--YKGG-PRIM);
  color: var(--YKGG-MAIN);
  font-weight: normal;
  background-color: var(--YKGG-PRIM);
  border-radius: 0;
}
.list-group-YK li {
  background-color: transparent;
  color: var(--YKGG-PRIM);
  border: 1px dashed var(--YKGG-PRIM);
}
.card {
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeInDown 1s ease forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-img-overlay {
  max-height: 6rem;
}
img {
  max-width: 100%;
}